body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  min-width: 1240px;
  min-height: 1070;
  width: 100%;
  height: 100%;
}
body .header {
  position: relative;
  background-color: #343f4d;
  height: 250px;
}
body .header .background-container {
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("resources/header.png");
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body .header .background-container .logo {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
  width: 180px;
  height: auto;
  margin-left: 5%;
  margin-top: 75px;
}
body .content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
body .content .examples {
  width: 100%;
  -webkit-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch;
  padding-right: 5%;
  padding-left: 5%;
}
body .content .examples .example-header {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 42px;
  color: #3f3f3f;
}
body .content .examples .example {
  height: 110px;
  margin-bottom: 12px;
  position: relative;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.3);
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #fff;
  overflow: hidden;
}
body .content .examples .example .left {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  z-index: 2;
  pointer-events: none;
}
body .content .examples .example .left .icon {
  width: 90px;
  height: 90px;
  margin-right: 20px;
  margin-left: 10px;
}
body .content .examples .example .left .game-info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
body .content .examples .example .left .game-info .title {
  font-size: 30px;
}
body .content .examples .example .left .game-info .subtitle {
  color: #68d44b;
  font-style: italic;
  font-size: 20px;
}
body .content .examples .example .right {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
body .content .examples .example .right .example-bg-img {
  height: 100%;
  width: auto;
  z-index: 1;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0,0,0,0.2);
  box-shadow: 5px 0 5px 0 rgba(0,0,0,0.2);
}
body .content .examples .example .right .source-btn {
  z-index: 0;
  position: absolute;
  text-decoration: none;
  height: 100%;
  width: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #2383e8;
  font-size: 22px;
  color: #fff;
}
body .content .examples .example .right .source-btn .coming-soon {
  display: none;
  font-size: 16px;
  color: #3393ea;
}
body .content .examples .example .right .source-btn.disabled {
  background: #0d4983;
}
body .content .examples .example .right .source-btn.disabled .arrow {
  display: none;
}
body .content .examples .example .right .source-btn.disabled .coming-soon {
  display: block;
}
body .content .examples .example.selected {
  background-color: #343f4d;
  color: #fff;
}
body .content .examples .example.selected .right {
  -webkit-transform: translate(-150px, 0);
  -moz-transform: translate(-150px, 0);
  -o-transform: translate(-150px, 0);
  -ms-transform: translate(-150px, 0);
  transform: translate(-150px, 0);
}
body .content .examples .docs {
  text-decoration: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #f3f3f3;
  margin-bottom: 12px;
  padding: 10px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
body .content .examples .docs iframe {
  width: 100%;
  height: 100%;
}
body .content .phone-wrapper {
  padding-right: 5%;
  margin-top: -50px;
}
body .content .phone-wrapper .phone {
  width: 350px;
  display: inline-block;
  position: relative;
  background: #fff;
  border-top-right-radius: 17% 8%;
  border-top-left-radius: 17% 8%;
  border-bottom-right-radius: 17% 8%;
  border-bottom-left-radius: 17% 8%;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}
body .content .phone-wrapper .phone:after {
  padding-top: 209.96148272%;
  display: block;
  content: '';
}
body .content .phone-wrapper .phone .inner-phone {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
body .content .phone-wrapper .phone .inner-phone .camera {
  background: #58595b;
  margin-top: 10%;
  width: 4.4%;
  height: 2.1%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
body .content .phone-wrapper .phone .inner-phone .speaker {
  background: #58595b;
  margin-top: 3.5%;
  width: 20%;
  height: 1.6%;
  border-top-right-radius: 12% 60%;
  border-top-left-radius: 12% 60%;
  border-bottom-right-radius: 12% 60%;
  border-bottom-left-radius: 12% 60%;
}
body .content .phone-wrapper .phone .inner-phone .screen {
  background: #58595b;
  position: relative;
  margin-top: 9.5%;
  width: 85%;
  height: 72%;
}
body .content .phone-wrapper .phone .inner-phone .screen iframe {
  border: 0 none;
  width: 100%;
  height: 100%;
  background: #58595b;
}
body .content .phone-wrapper .phone .inner-phone .button {
  background: #c4c4c3;
  margin-top: 6.9%;
  width: 15.5%;
  height: 7.4%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
body .wrapper {
  min-height: 100%;
  margin: 0 auto -50px;
}
body footer,
body .push {
  margin-left: 5%;
  height: 50px;
  font-size: 22px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
