body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  min-width: 960px;
  width: 100%;
  height: 100%;
}
body .shadow {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
body .header {
  position: relative;
  background-color: #343f4d;
  height: 200px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
body .header .background-container {
  max-width: 960px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("resources/header.png");
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body .header .background-container .logo {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
  width: 120px;
  height: auto;
  margin-left: 5%;
  margin-top: 55px;
}
body .content-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
body .content-wrapper .content {
  max-width: 960px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
body .content-wrapper .content .examples {
  width: 100%;
  position: relative;
  -webkit-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch;
  padding-right: 5%;
  padding-left: 5%;
  font-size: 25px;
}
body .content-wrapper .content .examples .example-header {
  margin-top: 40px;
  margin-bottom: 25px;
  color: #3f3f3f;
}
body .content-wrapper .content .examples .example {
  height: 80px;
  margin-bottom: 12px;
  position: relative;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #fff;
  overflow: hidden;
}
body .content-wrapper .content .examples .example .left {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  z-index: 2;
  pointer-events: none;
}
body .content-wrapper .content .examples .example .left .icon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  margin-left: 10px;
}
body .content-wrapper .content .examples .example .left .game-info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
body .content-wrapper .content .examples .example .left .game-info .subtitle {
  color: #68d44b;
  font-style: italic;
  font-size: 20px;
}
body .content-wrapper .content .examples .example .right {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
body .content-wrapper .content .examples .example .right .example-bg-img {
  height: 100%;
  width: auto;
  z-index: 1;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0,0,0,0.2);
  box-shadow: 5px 0 5px 0 rgba(0,0,0,0.2);
}
body .content-wrapper .content .examples .example .right .source-btn {
  z-index: 0;
  position: absolute;
  text-decoration: none;
  height: 100%;
  width: 120px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #2383e8;
  font-size: 22px;
  color: #fff;
}
body .content-wrapper .content .examples .example .right .source-btn .coming-soon {
  display: none;
  font-size: 16px;
  color: #3393ea;
}
body .content-wrapper .content .examples .example .right .source-btn.disabled {
  background: #0d4983;
}
body .content-wrapper .content .examples .example .right .source-btn.disabled .arrow {
  display: none;
}
body .content-wrapper .content .examples .example .right .source-btn.disabled .coming-soon {
  display: block;
}
body .content-wrapper .content .examples .example.selected {
  background-color: #343f4d;
  color: #fff;
}
body .content-wrapper .content .examples .example.selected .right {
  -webkit-transform: translate(-120px, 0);
  -moz-transform: translate(-120px, 0);
  -o-transform: translate(-120px, 0);
  -ms-transform: translate(-120px, 0);
  transform: translate(-120px, 0);
}
body .content-wrapper .content .examples .example-footer {
  position: absolute;
  bottom: 0;
  margin-top: 40px;
  font-weight: 400;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  font-size: 20px;
}
body .content-wrapper .content .examples .docs {
  text-decoration: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #f3f3f3;
  margin-bottom: 12px;
  padding: 10px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
body .content-wrapper .content .examples .docs iframe {
  width: 100%;
  height: 100%;
}
body .content-wrapper .content .phone-wrapper {
  padding-right: 5%;
  margin-top: -65px;
  width: 30%;
}
body .content-wrapper .content .phone-wrapper .phone {
  width: 100%;
  display: inline-block;
  position: relative;
  background: #fff;
  border-top-right-radius: 17% 8%;
  border-top-left-radius: 17% 8%;
  border-bottom-right-radius: 17% 8%;
  border-bottom-left-radius: 17% 8%;
  min-width: 244px;
}
body .content-wrapper .content .phone-wrapper .phone:after {
  padding-top: 209.96148272%;
  display: block;
  content: '';
}
body .content-wrapper .content .phone-wrapper .phone .inner-phone {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
body .content-wrapper .content .phone-wrapper .phone .inner-phone .camera {
  background: #58595b;
  margin-top: 10%;
  width: 4.4%;
  height: 2.1%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
body .content-wrapper .content .phone-wrapper .phone .inner-phone .speaker {
  background: #58595b;
  margin-top: 3.5%;
  width: 20%;
  height: 1.6%;
  border-top-right-radius: 12% 60%;
  border-top-left-radius: 12% 60%;
  border-bottom-right-radius: 12% 60%;
  border-bottom-left-radius: 12% 60%;
}
body .content-wrapper .content .phone-wrapper .phone .inner-phone .screen {
  background: #58595b;
  position: relative;
  margin-top: 9.5%;
  width: 85%;
  height: 72%;
}
body .content-wrapper .content .phone-wrapper .phone .inner-phone .screen iframe {
  border: 0 none;
  width: 100%;
  height: 100%;
  background: #58595b;
}
body .content-wrapper .content .phone-wrapper .phone .inner-phone .button {
  background: #c4c4c3;
  margin-top: 6.9%;
  width: 15.5%;
  height: 7.4%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
body .content-wrapper .content .phone-wrapper .phone #game-screen {
  overflow: hidden;
}
body .content-wrapper .content .phone-wrapper .phone #game-screen iframe {
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
@media screen and (min-width: 1440px) {
  body .header {
    height: 250px;
  }
  body .header .background-container {
    max-width: 1440px;
  }
  body .header .background-container .logo {
    width: 180px;
    margin-top: 55px;
  }
  body .content-wrapper .content {
    max-width: 1440px;
  }
  body .content-wrapper .content .examples {
    font-size: 35px;
  }
  body .content-wrapper .content .examples .example-header {
    margin-top: 40px;
    margin-bottom: 25px;
  }
  body .content-wrapper .content .examples .example {
    height: 110px;
  }
  body .content-wrapper .content .examples .example .left .icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-left: 15px;
  }
  body .content-wrapper .content .examples .example .left .game-info .subtitle {
    font-size: 25px;
  }
  body .content-wrapper .content .examples .example .right .example-bg-img {
    -webkit-box-shadow: 5px 0 5px 0 rgba(0,0,0,0.2);
    box-shadow: 5px 0 5px 0 rgba(0,0,0,0.2);
  }
  body .content-wrapper .content .examples .example .right .source-btn {
    width: 180px;
    font-size: 27px;
  }
  body .content-wrapper .content .examples .example .right .source-btn .coming-soon {
    font-size: 19px;
  }
  body .content-wrapper .content .examples .example.selected .right {
    -webkit-transform: translate(-180px, 0);
    -moz-transform: translate(-180px, 0);
    -o-transform: translate(-180px, 0);
    -ms-transform: translate(-180px, 0);
    transform: translate(-180px, 0);
  }
  body .content-wrapper .content .phone-wrapper {
    margin-top: -90px;
  }
  body .content-wrapper .content .phone-wrapper .phone {
    min-width: 360px;
  }
}
