$headerLinkHeightWithPadding = 60px
$smallExampleHeight = 60px
$smallExamplePadding = 10px
$largeExampleHeight = 80px
$largeExamplePadding = 15px
$darkBGColor = #343F4D
$offWhiteBGColor = #F5F5F5
$whiteBGColor = #FFFFFF
$darkBGTextColor = #FFFFFF
$lightBGTextColor = #3F3F3F
$subtitleTextColor = #68D44B
$sourceBtnColor = #2383E8
$sourceBtnDisabledColor = #0D4983
$sourceBtnComingSoonTextColor = #3393EA
$smallSourceBtnWidth = 120px
$largeSourceBtnWidth = 180px
$footerHeight = 50px
$smallPageWidth = 960px
$largePageWidth = 1440px
$largeHeaderHeight = 250px
$smallHeaderHeight = 200px


phone(phone-width = 100%, class-prefix = '')
  $dark-grey = #58595B
  $light-grey = #C4C4C3
  width phone-width
  display inline-block
  position relative
  background #FFFFFF
  border-top-right-radius 17% 8%
  border-top-left-radius 17% 8%
  border-bottom-right-radius 17% 8%
  border-bottom-left-radius 17% 8%
  &:after
    padding-top 209.96148272%
    display block
    content ''
  & .{class-prefix}inner-phone
    position absolute
    height 100%
    width 100%
    display flex
    flex-direction column
    align-items center
    & .{class-prefix}camera
      background $dark-grey
      position relative
      top 4.6%
      width 4.4%
      height 2.1%
      border-radius 100%
    & .{class-prefix}speaker
      background $dark-grey
      position relative
      top 6.4%
      width 20.0%
      height 1.6%
      border-top-right-radius 12% 60%
      border-top-left-radius 12% 60%
      border-bottom-right-radius 12% 60%
      border-bottom-left-radius 12% 60%
    & .{class-prefix}screen
      background $dark-grey
      position relative
      top 11%
      width 85%
      height 72%
      & iframe
        border 0 none
        width 100%
        height 100%
        background $dark-grey
    & .{class-prefix}button
      background $light-grey
      position relative
      top 14.5%
      width 15.5%
      height 7.4%
      border-radius 100%

body
  background-color $offWhiteBGColor
  margin 0
  font-family 'Roboto', sans-serif
  font-weight 300
  font-smoothing antialiased
  min-width $smallPageWidth
  width 100%
  height 100%

  .shadow
    box-shadow 0px 2px 5px 0px rgba(0,0,0,0.3)


  .header
    position relative
    background-color $darkBGColor
    height $smallHeaderHeight
    display flex
    justify-content center

    .background-container
      max-width $smallPageWidth
      display flex
      flex-flow column
      left 0
      top 0
      width 100%
      height 100%
      background url(resources/header.png)
      background-size auto 100%
      background-position center
      background-repeat no-repeat

      .logo
        align-self flex-start
        width 120px
        height auto
        margin-left 5%
        margin-top 55px

      .dev-docs
        position relative
        top 30px
        margin-left 5%
        color #FFFFFF
        text-decoration none
        font-size 18px

  .content-wrapper
    display flex
    justify-content center
    .content
      max-width $smallPageWidth
      width 100%
      display flex
      justify-content space-between

      .examples
        width 100%
        position relative
        align-self stretch
        padding-right 5%
        padding-left 5%
        font-size 25px

        .example-header
          margin-top 40px
          margin-bottom 25px

          color $lightBGTextColor

        .example
          height $smallExampleHeight + ($smallExamplePadding * 2)
          margin-bottom 12px
          position relative
          align-content center
          background-size auto 100%
          background-position right
          background-repeat no-repeat
          background-color $whiteBGColor
          overflow hidden

          .left
            width 100%
            height 100%
            position absolute
            display flex
            flex-flow row
            justify-content flex-start
            align-items center
            align-content center
            z-index 2
            pointer-events none

            .icon
              width $smallExampleHeight
              height $smallExampleHeight
              margin-right 20px
              margin-left $smallExamplePadding

            .game-info
              display flex
              flex-flow column
              justify-content center
              align-content flex-start

              .subtitle
                color $subtitleTextColor
                font-style italic
                font-size 20px

          .right
            width 100%
            height 100%
            position absolute
            display flex
            flex-flow row
            justify-content flex-end
            align-content center


            .example-bg-img
              height 100%
              width auto
              z-index 1
              box-shadow 5px 0 5px 0 rgba(0,0,0,0.2)


            .source-btn
              z-index 0
              position absolute
              text-decoration none
              height 100%
              width $smallSourceBtnWidth
              display flex
              flex-flow column
              justify-content center
              align-content center
              text-align center
              align-items center
              background $sourceBtnColor
              font-size 22px
              color $darkBGTextColor


              .coming-soon
                display none
                font-size 16px
                color $sourceBtnComingSoonTextColor


              &.disabled
                background $sourceBtnDisabledColor
                .arrow
                  display none
                .coming-soon
                  display block



          &.selected
            background-color $darkBGColor
            color $darkBGTextColor
            .right
              transform  translate(-($smallSourceBtnWidth), 0)

        .example-footer
          position absolute
          bottom 0
          margin-top 40px
          font-weight 400
          opacity 0.3
          font-size 20px


        .docs
          text-decoration none
          border-radius 10px
          background-color #f3f3f3
          margin-bottom 12px
          padding 10px
          position relative
          display flex
          flex-flow row
          justify-content space-between
          align-content center

          iframe
            width 100%
            height 100%


      .phone-wrapper
        padding-right 5%
        margin-top -65px
        width 30%

        .phone
          phone(100%)
          min-width 244px

          #game-screen
            overflow hidden
            iframe
              transform-origin left top
              width 640px
              height 1136px

  @media screen and (min-width: 1440px)
    .header
      height $largeHeaderHeight
      .background-container
        max-width $largePageWidth
        .logo
          width 180px
          margin-top 55px
        .dev-docs
          top 40px
          font-size 28px

    .content-wrapper
      .content
        max-width $largePageWidth
        .examples
          font-size 35px
          .example-header
            margin-top 40px
            margin-bottom 25px

          .example
            height $largeExampleHeight + ($largeExamplePadding * 2)
            .left

              .icon
                width $largeExampleHeight
                height $largeExampleHeight
                margin-right 20px
                margin-left $largeExamplePadding

              .game-info

                .subtitle
                  font-size 25px

            .right

              .example-bg-img
                box-shadow 5px 0 5px 0 rgba(0,0,0,0.2)


              .source-btn
                width $largeSourceBtnWidth
                font-size 27px


                .coming-soon
                  font-size 19px


            &.selected
              .right
                transform  translate(-($largeSourceBtnWidth), 0)

        .phone-wrapper
          margin-top -90px
          .phone
            min-width 360px


